<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RevBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <RevBridge.Properties.Settings>
      <setting name="SQL_Account_Host" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_Account_User" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_Account_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_Account_DBName" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_Shard_Host" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_Shard_User" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_Shard_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_Shard_DBName" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_Log_Host" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_Log_User" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_Log_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_Log_DBName" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_RevBridge_Host" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_RevBridge_User" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_RevBridge_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="SQL_RevBridge_DBName" serializeAs="String">
        <value />
      </setting>
      <setting name="RevBridge_ListenIP" serializeAs="String">
        <value>10.1.1.1</value>
      </setting>
      <setting name="RevBridge_Agent_ListenPort" serializeAs="String">
        <value>16003</value>
      </setting>
      <setting name="RevBridge_Gateway_ListenPort" serializeAs="String">
        <value>50001</value>
      </setting>
      <setting name="RevBridge_Agent_RealPort" serializeAs="String">
        <value>1338</value>
      </setting>
      <setting name="RevBridge_Gateway_RealPort" serializeAs="String">
        <value>1337</value>
      </setting>
      <setting name="RevBridge_Agent_IP" serializeAs="String">
        <value>10.1.1.1</value>
      </setting>
      <setting name="RevBridge_Gateway_IP" serializeAs="String">
        <value>10.1.1.1</value>
      </setting>
      <setting name="Server_WelcomeMessage" serializeAs="String">
        <value>Hey {0}! Welcome to Revolution!</value>
      </setting>
      <setting name="RevBridge_Debugging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RevBridge_RandomWeather_Interval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RevBridge_Captcha_AutoCaptcha" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Security_ProxyList_LastUpdate" serializeAs="String">
        <value />
      </setting>
      <setting name="Security_ProxyList_FirewallBlock" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Security_ProxyList_Active" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Security_GMList_Active" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Security_GMList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>revoland</string>
          </ArrayOfString>
        </value>
      </setting>
    </RevBridge.Properties.Settings>
  </userSettings>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
</configuration>